:root {
    --first-color: #DDDBDA;
    --second-color: #213E60;
    --third-color: #69ACC2;
    --white-color: #ffffff;
    --text-color: #354a61;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 98vw;
    height: auto;
    display: flex;
}
